# PYCITY SCHOOLS STUDENT SUBJECT TEST PERFORMANCE ANALYSIS

## Analysis Summary Obseravtions

The results of the analysis of PyCity Schools reveal some very dramatic and valuable results for the school system.  The performance of schools in terms of math and reading test scores across the the population of students varies greatly within the system.   Related to this, a number of interesting observations are worth noting:

1.  The top performing schools significant exceed the average for all schools in test scores.  This difference is most pronounced in the numbers of students passing math, reading, and both.  The Top performing schools have almost 20% more of the student population passing math than the average, greater than 10% more passing reading, and greater than 25% passing both subjects.  Furthermore the top schools exceed the bottom performing schools with almost 30% greater percentage of the total number of students passing math, and a very striking difference of almost 40% of the percentage of the student populations of each school passing both subjects

2.  The budget/ spend for a school is not in and of iteslf a root cause statistic.  However, analysis of spend for the schools vs student test scores reveals some interesting results.  The schools were divided into 4 groups of budget size (240k to 980k, 980k to 1.72m, 1.72m to 2.46m, and 2.46m to 3.2m).  The data indicates a very clear and pronounced demarcation that occurs between those schools below 1.72m in budget and those above.  The schools below 1.72m in budget have average math and reading scores that are ~84 in both subjects.  Whereas, schools with spend above 1.72m have average math and reading scores of ~77 and 81 respectively.  The difference is very pronounced in the percentages of total students in the schools passing these subjects.  For those schools with spend below 1.72m the percentage of students passing is ~94% for math, ~97% for reading, and ~90% for both.  However, for schools with spend below 1.72m the percentages of students passing are ~67% for math, 81% for reading, and just over half of their total student populations passing both at ~54%.

3.  Subject test performance differences are also seen in evaluations of scores by size of the school based on categories of number of students attending.  It must be noted that spend and size of school are directly correlated statistics and so the results are inherently related.  Schools were divided into three categories small(less than 1947 students), medium(1947 to 3468 students), and large(greater than 3468 students).  Once again, there is a clear difference in performance that occurs between small schools and schools or medium to large size. The percentage of students passing subjects in small schools is ~94% passing math, ~97% passing reading, and ~91% passing both.  For medium schools the numbers are much lower at ~72%, 84%, and 61% respectively.  For large schools the numbers continue the downward trend with size though a greatly decreased rate.  Their scores are ~67% passing math, ~81% passing reading, and ~54% passing both subjects.  These numbers, of course, reflect the same numbers seen in the budget analysis as budget and number of students are directly related.  One interesting point to note is that it is likely that the budget category for the sizes of schools, if not known, could likley be estimated due to this relationship.

4.  Subjectively, the most interesting of the school performance analyses would be evaluations by type of school.  The results of this analysis, clearly, indicate that charter schools yield much higher results in terms of student performance than do their district counterparts.  The charter schools have an average of ~94% of the student populkation passing math, ~97% passing reading, and ~91% passing both. Whereas, the district schools have numbers of ~67%, ~81%, and ~54%.  These numbers directly reflect the numbers seen in ythe size and budget spend analyses which would tend to indicate that charter schools are smaller in size and budget than their district counterparts.  An additional analysis not included in the study that would be valauble for further enlightenment in this area would be an analysis of spend per student in charter vs district schools.

In [63]:
# Import Python modules
import numpy as np
import pandas as pd

# Import data CSV files
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

# Merge the two dataframes into one dataframe  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [58]:
# Display the head of the data set for the analysis
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [135]:
# Create a new dataframe to be used for the analysis by copying the created merge dataframe
alldata_df=school_data_complete.copy()

# Block to create the calculated values for the summary table (count unique, sum, and means)
scholcnt=alldata_df["school_name"].nunique()
#print(f"The Total Number of Schools in PyCity is:{scholcnt}")
studcnt=alldata_df["Student ID"].nunique()
#print(f"The Total Number of Students in PyCity Schools is:{studcnt}")
budgsum=round(alldata_df["budget"].sum(),2)
#print(f"The Total Budget for PyCity Schools is:${budgsum}")
avemath=round(alldata_df["math_score"].mean(),2)
#print(f"The Average Math Score for Studentsa of PyCity Schools is:{avemath}")
averead=round(alldata_df["reading_score"].mean(),2)
#print(f"The Average Reading Score for Students of PyCity Schools is:{averead}")

#Block to identify the number and percent of students from all schools that passed math, reading, and both
passmathnum=alldata_df.loc[alldata_df["math_score"]>69,:]
passmathprc=round((passmathnum["math_score"].count()/studcnt)*100,2)
#print(f"The Percentage of Students with a Passing Math Score is: %{passmathprc}")
passreadnum=alldata_df.loc[alldata_df["reading_score"]>69,:]
passreadprc=round((passreadnum["reading_score"].count()/studcnt)*100,2)
#print(f"The Percentage of Students with a Passing Reading Score is: %{passreadprc}")
passbothnum=alldata_df.loc[(alldata_df["reading_score"]>69) & (alldata_df["math_score"]>69),:]
passbothprc=round((passbothnum["reading_score"].count()/studcnt)*100,2)
#print(f"The Percentage of Students Passing Both Math and Reading is: %{passbothprc}")

# create a dictionary to to be used for the resulting data table
sumdict={"Total Num Schools": scholcnt,"Total Num Students": studcnt, "Total Budget":budgsum,"Ave Math Score":avemath,"Ave Reading Score":averead,"Percent Pass Math":passmathprc,"Percent Pass Reading":passreadprc,"Percent Pass Both":passbothprc}

# create a dataframe from the dictionary
sum_df=pd.DataFrame(sumdict,index=['Summary'])

# provide additional formatting for the data fields in the table for percentages, currency, and thousands (For Optional)
sum_df["Total Num Students"]=sum_df["Total Num Students"].map("{:,}".format)
sum_df["Total Budget"]=sum_df["Total Budget"].map("${:,.2f}".format)
sum_df["Percent Pass Math"]=sum_df["Percent Pass Math"].map("%{:}".format)
sum_df["Percent Pass Reading"]=sum_df["Percent Pass Reading"].map("%{:}".format)
sum_df["Percent Pass Both"]=sum_df["Percent Pass Both"].map("%{:}".format)

#output the final dataframe
sum_df

,Total Num Schools,Total Num Students,Total Budget,Ave Math Score,Ave Reading Score,Percent Pass Math,Percent Pass Reading,Percent Pass Both
Summary,15,"39,170","$82,932,329,558.00",78.99,81.88,%74.98,%85.81,%65.17

## School Summary

In [138]:
# Segregate the data by individual school
school_df=alldata_df.groupby(["school_name"])

# Create the calculated basic data for the individual schools and assign to variables
schoolname=school_df["school_name"].unique()
schooltype=school_df["type"].unique()
schooltotstud=school_df["Student ID"].count()
schoolbudg=school_df["budget"].unique()

#Create additonal calculated  data for the schools using basic variables and assign to variables
schoolperstudbudg=schoolbudg/schooltotstud
schoolavemathscor=round((school_df["math_score"].sum()/schooltotstud),2)
schoolavereadscor=round((school_df["reading_score"].sum()/schooltotstud),2)

# Block to calculate the number and percentage of students within each school passing math, reading, and both
allnumpassmath=alldata_df.loc[alldata_df["math_score"]>69,:]
schoolmathgrp=allnumpassmath.groupby(["school_name"])
schoolnumpassmath=schoolmathgrp["Student ID"].count()
schoolperpassmath=round((schoolnumpassmath/schooltotstud)*100,2)
allnumpassread=alldata_df.loc[alldata_df["reading_score"]>69,:]
schoolreadgrp=allnumpassread.groupby(["school_name"])
schoolnumpassread=schoolreadgrp["Student ID"].count()
schoolperpassread=round((schoolnumpassread/schooltotstud)*100,2)
allnumpassboth=alldata_df.loc[(alldata_df["math_score"]>69) & (alldata_df["reading_score"]>69),:]
schoolbothgrp=allnumpassboth.groupby(["school_name"])
schoolnumpassboth=schoolbothgrp["Student ID"].count()
schoolperpassboth=round((schoolnumpassboth/schooltotstud)*100,2)

# Create a dictionary to be used for the output dataframe table
school_dict={"School Type":schooltype,"Total Num of Students":schooltotstud,"Total Budget":schoolbudg, "Per Student Budget":schoolperstudbudg,"Average Math Score":schoolavemathscor, "Average Reading Score":schoolavereadscor, "% Passing Math":schoolperpassmath,"% Passing Reading":schoolperpassread, "% Overall Passing":schoolperpassboth}

# Create a dataframe from the dictionary 
schoolsum_df=pd.DataFrame(school_dict)

# Output the dataframe table
schoolsum_df

,School Type,Total Num of Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.05,81.03,66.68,81.93,54.64
Cabrera High School,[Charter],1858,[1081356],[582.0],83.06,83.98,94.13,97.04,91.33
Figueroa High School,[District],2949,[1884411],[639.0],76.71,81.16,65.99,80.74,53.20
Ford High School,[District],2739,[1763916],[644.0],77.10,80.75,68.31,79.30,54.29
Griffin High School,[Charter],1468,[917500],[625.0],83.35,83.82,93.39,97.14,90.60
Hernandez High School,[District],4635,[3022020],[652.0],77.29,80.93,66.75,80.86,53.53
Holden High School,[Charter],427,[248087],[581.0],83.80,83.81,92.51,96.25,89.23
Huang High School,[District],2917,[1910635],[655.0],76.63,81.18,65.68,81.32,53.51
Johnson High School,[District],4761,[3094650],[650.0],77.07,80.97,66.06,81.22,53.54
Pena High School,[Charter],962,[585858],[609.0],83.84,84.04,94.59,95.95,90.54
Rodriguez High School,[District],3999,[2547363],[637.0],76.84,80.74,66.37,80.22,52.99
Shelton High School,[Charter],1761,[1056600],[600.0],83.36,83.73,93.87,95.85,89.89
Thomas High School,[Charter],1635,[1043130],[638.0],83.42,83.85,93.27,97.31,90.95
Wilson High School,[Charter],2283,[1319574],[578.0],83.27,83.99,93.87,96.54,90.58
Wright High School,[Charter],1800,[1049400],[583.0],83.68,83.96,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

In [101]:
# sort the school summary data by highest overall passing percent , assign to a new dataframe, and output the table
topschools_df=schoolsum_df.sort_values("% Overall Passing", ascending=False)
topschools_df.head()

,School Type,Total Num of Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.06,83.98,94.13,97.04,91.33
Thomas High School,[Charter],1635,[1043130],[638.0],83.42,83.85,93.27,97.31,90.95
Griffin High School,[Charter],1468,[917500],[625.0],83.35,83.82,93.39,97.14,90.60
Wilson High School,[Charter],2283,[1319574],[578.0],83.27,83.99,93.87,96.54,90.58
Pena High School,[Charter],962,[585858],[609.0],83.84,84.04,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

In [102]:
# sort the school summary data by lowest overall passing percent , assign to a new dataframe, and output the table
bottomschools_df=schoolsum_df.sort_values("% Overall Passing", ascending=True)
bottomschools_df.head()

,School Type,Total Num of Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.84,80.74,66.37,80.22,52.99
Figueroa High School,[District],2949,[1884411],[639.0],76.71,81.16,65.99,80.74,53.20
Huang High School,[District],2917,[1910635],[655.0],76.63,81.18,65.68,81.32,53.51
Hernandez High School,[District],4635,[3022020],[652.0],77.29,80.93,66.75,80.86,53.53
Johnson High School,[District],4761,[3094650],[650.0],77.07,80.97,66.06,81.22,53.54

## Math Scores by Grade

In [108]:
# group the average math scores by school and grade and output to a dataframe table
schoolgrademgrp=alldata_df.groupby(["school_name", "grade"]).agg({"math_score": ["mean"]}).round(2)
schoolgrademgrp

                            math_score
                                  mean
school_name           grade
Bailey High School    10th       77.00
                      11th       77.52
                      12th       76.49
                      9th        77.08
Cabrera High School   10th       83.15
                      11th       82.77
                      12th       83.28
                      9th        83.09
Figueroa High School  10th       76.54
                      11th       76.88
                      12th       77.15
                      9th        76.40
Ford High School      10th       77.67
                      11th       76.92
                      12th       76.18
                      9th        77.36
Griffin High School   10th       84.23
                      11th       83.84
                      12th       83.36
                      9th        82.04
Hernandez High School 10th       77.34
                      11th       77.14
                      12th       77.19
                      9th        77.44
Holden High School    10th       83.43
                      11th       85.00
                      12th       82.86
                      9th        83.79
Huang High School     10th       75.91
                      11th       76.45
                      12th       77.23
                      9th        77.03
Johnson High School   10th       76.69
                      11th       77.49
                      12th       76.86
                      9th        77.19
Pena High School      10th       83.37
                      11th       84.33
                      12th       84.12
                      9th        83.63
Rodriguez High School 10th       76.61
                      11th       76.40
                      12th       77.69
                      9th        76.86
Shelton High School   10th       82.92
                      11th       83.38
                      12th       83.78
                      9th        83.42
Thomas High School    10th       83.09
                      11th       83.50
                      12th       83.50
                      9th        83.59
Wilson High School    10th       83.72
                      11th       83.20
                      12th       83.04
                      9th        83.09
Wright High School    10th       84.01
                      11th       83.84
                      12th       83.64
                      9th        83.26

## Reading Score by Grade

In [109]:
# group the average reading scores by school and grade and output to a dataframe table
schoolgradergrp=alldata_df.groupby(["school_name", "grade"]).agg({"reading_score": ["mean"]}).round(2)
schoolgradergrp

                            reading_score
                                     mean
school_name           grade
Bailey High School    10th          80.91
                      11th          80.95
                      12th          80.91
                      9th           81.30
Cabrera High School   10th          84.25
                      11th          83.79
                      12th          84.29
                      9th           83.68
Figueroa High School  10th          81.41
                      11th          80.64
                      12th          81.38
                      9th           81.20
Ford High School      10th          81.26
                      11th          80.40
                      12th          80.66
                      9th           80.63
Griffin High School   10th          83.71
                      11th          84.29
                      12th          84.01
                      9th           83.37
Hernandez High School 10th          80.66
                      11th          81.40
                      12th          80.86
                      9th           80.87
Holden High School    10th          83.32
                      11th          83.82
                      12th          84.70
                      9th           83.68
Huang High School     10th          81.51
                      11th          81.42
                      12th          80.31
                      9th           81.29
Johnson High School   10th          80.77
                      11th          80.62
                      12th          81.23
                      9th           81.26
Pena High School      10th          83.61
                      11th          84.34
                      12th          84.59
                      9th           83.81
Rodriguez High School 10th          80.63
                      11th          80.86
                      12th          80.38
                      9th           80.99
Shelton High School   10th          83.44
                      11th          84.37
                      12th          82.78
                      9th           84.12
Thomas High School    10th          84.25
                      11th          83.59
                      12th          83.83
                      9th           83.73
Wilson High School    10th          84.02
                      11th          83.76
                      12th          84.32
                      9th           83.94
Wright High School    10th          83.81
                      11th          84.16
                      12th          84.07
                      9th           83.83

## Scores by School Spending

In [116]:
# Create spending/budget bins for aggregating the schools and create a new dataframe with a column containing the schools spend category
spend_bins=[240000,980000,1720000,2460000,3200000]
spend_labels=["240k to 980k", "980k to 1.72m", "1.72m to 2.46m", "2.46m to 3.2m"]
spend_df=alldata_df.copy()
spend_df["Spending Group"]=pd.cut(spend_df["budget"], spend_bins, labels=spend_labels, include_lowest=True)

# Segregate the data by the spoening group column in a new dataframe
spendgrp_df=spend_df.groupby(["Spending Group"])

# count the number of students within each spend group and assign to variable 
spendstudcount=spendgrp_df["Student ID"].count()

# Block to caluculate the number and percent of total students passing math, reading, and both within each spend group
spndpassmath=spend_df.loc[spend_df["math_score"]>69,:]
spndmathgrp=spndpassmath.groupby(["Spending Group"])
spndgrppassmath=spndmathgrp["Student ID"].count()
spendperpassmath=round((spndgrppassmath/spendstudcount)*100,2)
spndpassread=spend_df.loc[spend_df["reading_score"]>69,:]
spndreadgrp=spndpassread.groupby(["Spending Group"])
spndgrppassread=spndreadgrp["Student ID"].count()
spendperpassread=round((spndgrppassread/spendstudcount)*100,2)
spndpassboth=spend_df.loc[(spend_df["math_score"]>69) & (spend_df["reading_score"]>69),:]
spndbothgrp=spndpassboth.groupby(["Spending Group"])
spndgrppassboth=spndbothgrp["Student ID"].count()
spendperpassboth=round((spndgrppassboth/spendstudcount)*100,2)

# Calculate the average math and reading scores by spending group and assign to variables 
spendavemath=spendgrp_df["math_score"].mean()
spendaveread=spendgrp_df["reading_score"].mean()

# Create a dictionary to be used for the output dataframe table
spend_dict={"Average Math Score":spendavemath, "Average Reading Score": spendaveread, "% Passing Math":spendperpassmath, "% Passing Reading":spendperpassread, "% Overall Passing":spendperpassboth}

# Create a dataframe from the dictionary to be used for the results output table
spendsum_df=pd.DataFrame(spend_dict)

#Output the dataframe table
spendsum_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Group,,,,,
240k to 980k,83.583479,83.893245,93.66,96.60,90.37
980k to 1.72m,83.351933,83.905751,93.71,96.66,90.62
1.72m to 2.46m,76.808251,81.035328,66.62,80.48,53.65
2.46m to 3.2m,77.070764,80.928365,66.47,81.11,53.72

## Scores by School Size

In [117]:
# Create size bins for aggregating the schools based on number of students and create a new dataframe with a column containing the schools size group category
size_bins=[426,1947,3468,4989]
size_labels=["Small", "Medium", "Large"]
size_df=alldata_df.copy()
size_df["Size Group"]=pd.cut(spend_df["size"], size_bins, labels=size_labels, include_lowest=True)

# Segregate the data by the size group column in a new dataframe
sizegrp_df=size_df.groupby(["Size Group"])

# count the number of students within each size group and assign to variable 
sizestudcount=sizegrp_df["Student ID"].count()

# Block to calculate the number and percent of total students passing math, reading, and both within each size group
sizepassmath=size_df.loc[size_df["math_score"]>69,:]
sizemathgrp=sizepassmath.groupby(["Size Group"])
sizegrppassmath=sizemathgrp["Student ID"].count()
sizeperpassmath=round((sizegrppassmath/sizestudcount)*100,2)
sizepassread=size_df.loc[size_df["reading_score"]>69,:]
sizereadgrp=sizepassread.groupby(["Size Group"])
sizegrppassread=sizereadgrp["Student ID"].count()
sizeperpassread=round((sizegrppassread/sizestudcount)*100,2)
sizepassboth=size_df.loc[(size_df["math_score"]>69) & (size_df["reading_score"]>69),:]
sizebothgrp=sizepassboth.groupby(["Size Group"])
sizegrppassboth=sizebothgrp["Student ID"].count()
sizeperpassboth=round((sizegrppassboth/sizestudcount)*100,2)

# Calculate the average math and reading scores by size group and assign to variables
sizeavemath=sizegrp_df["math_score"].mean()
sizeaveread=sizegrp_df["reading_score"].mean()

# Create a dictionary to be used for the output dataframe table
size_dict={"Average Math Score":sizeavemath, "Average Reading Score": sizeaveread, "% Passing Math":sizeperpassmath, "% Passing Reading":sizeperpassread, "% Overall Passing":sizeperpassboth}

# Create a dataframe from the dictionary to be used for the results output table
sizesum_df=pd.DataFrame(size_dict)

#Output the datafarme table
sizesum_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Size Group,,,,,
Small,83.436586,83.882857,93.66,96.67,90.56
Medium,78.164034,81.654758,72.34,83.84,61.40
Large,77.070764,80.928365,66.47,81.11,53.72

## Scores by School Type

In [129]:
# Create a new dataframe copy fom the original dataframe
type_df=alldata_df.copy()

# Segregate the data into a new datframe based on the type of school
typegrp_df=type_df.groupby(["type"])

# Count the number of students in each school type category anmd assign to a variable
typestudcount=typegrp_df["Student ID"].count()

# Block to calculate the number and percent of total students passing math, reading, and both within each school type group
typepassmath=type_df.loc[type_df["math_score"]>69,:]
typemathgrp=typepassmath.groupby(["type"])
typegrppassmath=typemathgrp["Student ID"].count()
typeperpassmath=round((typegrppassmath/typestudcount)*100,2)
typepassread=type_df.loc[type_df["reading_score"]>69,:]
typereadgrp=typepassread.groupby(["type"])
typegrppassread=typereadgrp["Student ID"].count()
typeperpassread=round((typegrppassread/typestudcount)*100,2)
typepassboth=type_df.loc[(type_df["math_score"]>69) & (type_df["reading_score"]>69),:]
typebothgrp=typepassboth.groupby(["type"])
typegrppassboth=typebothgrp["Student ID"].count()
typeperpassboth=round((typegrppassboth/typestudcount)*100,2)

# calculate the average reading and math scores for students in each school type group
typeavemath=typegrp_df["math_score"].mean()
typeaveread=typegrp_df["reading_score"].mean()

#Create a dictionary to be used for the output dataframe table
type_dict={"Average Math Score":typeavemath, "Average Reading Score": typeaveread, "% Passing Math":typeperpassmath, "% Passing Reading":typeperpassread, "% Overall Passing":typeperpassboth}

#Create a dataframe from the dictionary
typesum_df=pd.DataFrame(type_dict)

#Output the dataframe table
typesum_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
type,,,,,
Charter,83.406183,83.902821,93.70,96.65,90.56
District,76.987026,80.962485,66.52,80.91,53.70