# Heroes of Pymoli

#For the Heroes of Pymoli, I used Python, Jupyter Notebook, Pandas Library, and Numpy Library to analyze the data to view trends in the purchasing behavior of the players. Here are the three keys I found in my analysis: 

Top players were male totaled 84% vs female players (14%).

The 20-24 ages and consisted of 45% that spend the most money. The group made 365 purchases with an average purchase of $4.32, and $1,114.06 as total purchase value. 

The Oathbreaker, Last Hope of the Breaking Storm listed as the popular and profitable items.

In [59]:
# Dependencies 
import pandas as pd
import numpy as np

In [60]:
# File to load
file = "purchase_data.csv"

In [51]:
# To open the file as DataFrame 
purchase_data_pd = pd.read_csv(file)
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [61]:
# Player count by "SN", for total players.
total_players = len(purchase_data_pd["SN"].value_counts())

# The total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

# Purchasing Analysis (Total)
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

In [62]:
# Number of Unique Items
number_of_unique_items = len((purchase_data_pd["Item ID"]).unique())

# Average Purchase Price
average_price = (purchase_data_pd["Price"]).mean()

# Total Number of Purchases
number_of_purchases = (purchase_data_pd["Purchase ID"]).count()

# Total Revenue
total_revenue = (purchase_data_pd["Price"]).sum()

#Create a DataFrame with obtained values
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format with currency style
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

# Gender Demographics

#Percentage and Count of Male Players

#Percentage and Count of Female Players

#Percentage and Count of Other / Non-Disclosed

In [63]:
# Group by Gender
gender_stats = purchase_data_pd.groupby("Gender")

# Count the total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

# Total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

# Number and Percentage by Gender
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})
gender_demographics.index.name = None
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

# Age Demographics

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Percentage of Players

#Total Count

In [64]:
# Binning
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add bins to new DataFrame and Groupby
purchase_data_pd["Age Group"] = pd.cut(purchase_data_pd["Age"],age_bins, labels=group_names)
purchase_data_pd

# Numbers and Percentages by Age Group
age_grouped = purchase_data_pd.groupby("Age Group")
total_count_age = age_grouped["SN"].nunique()
percentage_by_age = (total_count_age/total_players) * 100
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the DataFrame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

# Purchasing Analysis (Age)

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count

#Average Purchase Price

#Total Purchase Value

#Average Purchase Total per Person by Age Group

In [65]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

# Average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

# Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN(screen name)

#Purchase Count

#Average Purchase Price

#Total Purchase Value

In [66]:

# Group purchase data by screen names
spender_stats = purchase_data_pd.groupby("SN")

# Total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

# Most Popular Items

#Top 5 most popular items by purchase count:

#Item ID

#Item Name

#Purchase Count

#Item Price

#Total Purchase Value

In [67]:
# Create new data frame with items
items = purchase_data_pd[["Item ID", "Item Name", "Price"]]

# Group item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# The purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Top spender names and provide top 5 item names
popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

# Most Profitable Items

#Top 5 most profitable items by total purchase value:

#Item ID

#Item Name

#Purchase Count

#Item Price

#Total Purchase Value

In [68]:
# Take the popular items and change the sorting to find highest total purchase value
popular_items = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format with currency style
popular_items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})