# HEROES OF PYMOLI - Demographic and Financial Data Analysis

## SUMMARY OBSERVATIONS

### There are a few noteworthy points that can be derived from this analysis that could direct opportunities for improvement for the game company

###   1. Players that purchased a game items, on average, only purchased one item (1.3).  Increasing the appeal of the game items, their value proposition, and the marketing messaging to players are potential opportunities
###   2. Purchases by gender category align exactly with the number of total players by those categories indicating that the appeal of the items is gender agnostic
###   3. Almost half of the total purchases (47%) are made by players between the ages of 20-24 years old.  Futhermore, over 3/4ths (77%) of the total purchases are made by players between the ages of 15-29 years old.    
###   4. The popularity of purchased items is mostly evenly distributed. Although the two most popular items  are statistically skewed in popularaity of purchases with 44% and 33% higher number of purchases than the number 3 most popular item, because of the small number of purchases of each item they only represnt 3.2% of total purchases. This seems to indicate that there are not items that are out of line in terms of their value in the game which can valuable for player satisfaction with the game and items for sale in general

In [3]:
# Load pandas module
import pandas as pd

In [4]:
# Create a new dataframe from the imported csv data
datafile="Resources/purchase_data.csv"
purchdf=pd.read_csv(datafile)

In [5]:
# Output the head of the new dataframe to see the data and headers
purchdf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
# Output the tail of the dataframe to ensure that all imported appropriately
purchdf.tail()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## PLAYER COUNT

In [7]:
# Create a variable that holds the number of unique SNs in the data representing the number of unique players
tot_num_plyrs=purchdf["SN"].nunique()

# Output the required result to the terminal/console
print(f"Total Number of Players is: {tot_num_plyrs}")

Total Number of Players is: 576

## PURCHASING ANALYSIS

In [8]:
# Create a variable that holds the number of unique items purchased in the game
tot_uniq_items=purchdf["Item ID"].nunique()

# Output required results to the console/terminal
print(f"Total Number of Unique Items is: {tot_uniq_items}")

Total Number of Unique Items is: 179

In [9]:
# Compute and store in a variable the average purchase price
ave_purch_price=purchdf["Price"].mean()
# Variable for rounded average purchase price to make the number 2 significant digits for currency
r_ave_purch_price=round(ave_purch_price, 2)

# Output the required result to the console/terminal
print(f"The Average Purchase Price is:$ {r_ave_purch_price}")

The Average Purchase Price is:$ 3.05

In [10]:
# Compute and store in a variable the number of purchases
tot_num_purch=purchdf["Purchase ID"].count()

# Output the required result to the terminal/console
print(f"The Total Number of Purchases is: {tot_num_purch}")

The Total Number of Purchases is: 780

In [11]:
# Compute and store in a variable the amount of revenue from purchases
tot_rev=purchdf["Price"].sum()

# Output the required result to the terminal /console
print(f"The Total Revenue from Purchases is:$ {tot_rev}")

The Total Revenue from Purchases is:$ 2379.77

## GENDER DEMOGRAPHICS

In [12]:
# The following three blocks of code:
#   Filter the dataframe on Gender category
#   Take the filtered data and grfoup it based on the number of unique players of that gender category
#   Compute and store in a variable the count of the unique players by gender category

m_frame=purchdf.loc[purchdf["Gender"]=="Male",:]
male_frame=m_frame.groupby(["SN"]).nunique()
m_count=male_frame["SN"].count()

f_frame=purchdf.loc[purchdf["Gender"]=="Female",:]
female_frame=f_frame.groupby(["SN"]).nunique()
f_count=female_frame["SN"].count()

o_frame=purchdf.loc[purchdf["Gender"]=="Other / Non-Disclosed",:]
other_frame=o_frame.groupby(["SN"]).nunique()
o_count=other_frame["SN"].count()


# Block to Compute ansd store in variables the percentage of players in each gender category 
m_perc=round((m_count/tot_num_plyrs)*100,2)
f_perc=round((f_count/tot_num_plyrs)*100,2)
o_perc=round((o_count/tot_num_plyrs)*100,2)

# Block to output the required results to the console/terminal (Instructions do not call for table output)
print(f"The Count of Male Players is {m_count} which is {m_perc} percent of the total number of players")
print(f"The Count of Female Players is {f_count} which is {f_perc} percent of the total number of players")
print(f"The Count of Other / Non-Disclosed Players is {o_count} which is {o_perc} percent of the total number of players")

The Count of Male Players is 484 which is 84.03 percent of the total number of players
The Count of Female Players is 81 which is 14.06 percent of the total number of players
The Count of Other / Non-Disclosed Players is 11 which is 1.91 percent of the total number of players

## PURCHASING ANALYSIS (GENDER)

In [13]:
# Create a table that is grouped and indexed by Gender category and contains the count of purchases for that category
g_purch_count=purchdf.groupby(["Gender"])["Purchase ID"].count()

# Store the values in the table list of counts of purchases by gender category to variables for each category
m_purch_count=g_purch_count.values[1]
f_purch_count=g_purch_count.values[0]
o_purch_count=g_purch_count.values[2]

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Number of Purchases by Male Players is {m_purch_count}")
print(f"The Number of Purchases by Female Players is {f_purch_count}")
print(f"The Number of Purchases by Other / Non-Disclosed Players is {o_purch_count}")

The Number of Purchases by Male Players is 652
The Number of Purchases by Female Players is 113
The Number of Purchases by Other / Non-Disclosed Players is 15

In [14]:
# Create a table that is grouped and indexed by Gender category and contains the average price paid for purchases by that gender category
g_ave_purch_price=purchdf.groupby(["Gender"])["Price"].mean()

# Store the values in the table list of average purchase prices by gender category to variables for each category
m_ave_purch_price=round(g_ave_purch_price.values[1],2)
f_ave_purch_price=round(g_ave_purch_price.values[0],2)
o_ave_purch_price=round(g_ave_purch_price.values[2],2)

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Average Purchase Price for Male Players is $ {m_ave_purch_price}")
print(f"The Average Purchase Price for Female Players is $ {f_ave_purch_price}")
print(f"The Average Purchase Price for Other / Non-Disclosed Players is $ {o_ave_purch_price}")

The Average Purchase Price for Male Players is $ 3.02
The Average Purchase Price for Female Players is $ 3.2
The Average Purchase Price for Other / Non-Disclosed Players is $ 3.35

In [15]:
# Create a table that is grouped and indexed by Gender category and contains the total amount paid for purchases by that gender category
g_tot_val=purchdf.groupby(["Gender"])["Price"].sum()

# Store the values in the table list of total value of purchases by gender category to variables for each category
m_tot_val=round(g_tot_val.values[1],2)
f_tot_val=round(g_tot_val.values[0],2)
o_tot_val=round(g_tot_val.values[2],2)

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Total Value of Purchases by Male Players is $ {m_tot_val}")
print(f"The Total Value of Purchases by Female Players is $ {f_tot_val}")
print(f"The Total Value of Purchases by Other / Non-Disclosed Players is $ {o_tot_val}")

The Total Value of Purchases by Male Players is $ 1967.64
The Total Value of Purchases by Female Players is $ 361.94
The Total Value of Purchases by Other / Non-Disclosed Players is $ 50.19

In [16]:
# Block to compute the average purchase total by each player by gender category and store those values into variables 
m_avepurch_cap=round(m_tot_val/m_count,2)
f_avepurch_cap=round(f_tot_val/f_count,2)
o_avepurch_cap=round(o_tot_val/o_count,2)

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Average Purchase Total per Male Player is $ {m_avepurch_cap}")
print(f"The Average Purchase Total per Female Player is $ {f_avepurch_cap}")
print(f"The Average Purchase Total per Other / Non-Disclosed Player is $ {o_avepurch_cap}")

The Average Purchase Total per Male Player is $ 4.07
The Average Purchase Total per Female Player is $ 4.47
The Average Purchase Total per Other / Non-Disclosed Player is $ 4.56

## AGE DEMOGRAPHICS

In [17]:
# Create a variable which holds the list of bins for age groups of the data
age_bins=[0,9,14,19,24,29,34,39,44,49]

# Create a variable which holds the list of label names for the age groups
age_groups=["BelowTen", "EarlyTeens", "LateTeens", "EarlyTwenties", "LateTwenties", "EarlyThirties", "LateThirties", "EarlyForties", "LateForties"]

# Create a copy of the current data frame to use for this analysis
purchdf_copy=purchdf.copy()

# Use the Pandas pd.cut function to create a new column in the dataframe that contains the age data categorized into the age groups
purchdf_copy["Age Group"]=pd.cut(purchdf_copy["Age"], age_bins, labels=age_groups, include_lowest=True)

# Create a table from the dataframe that is grouped and indexed by the created age group column and contains a count of total purchases for that category
age_purchcount=purchdf_copy.groupby(["Age Group"])["Purchase ID"].count()

# Block to store the values from the table for count of total purchases by age category into variables for each category
bten_purch=age_purchcount[0]
eteen_purch=age_purchcount[1]
lteen_purch=age_purchcount[2]
etwent_purch=age_purchcount[3]
ltwent_purch=age_purchcount[4]
ethirt_purch=age_purchcount[5]
lthirt_purch=age_purchcount[6]
efort_purch=age_purchcount[7]
lfort_purch=age_purchcount[8]

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Total Number of Purchases by Players Under 10 Years Old is {bten_purch}")
print(f"The Total Number of Purchases by Players 10 to 14 Years Old is {eteen_purch}")
print(f"The Total Number of Purchases by Players 15 to 19 Years Old is {lteen_purch}")
print(f"The Total Number of Purchases by Players 20 to 24 Years Old is {etwent_purch}")
print(f"The Total Number of Purchases by Players 25 to 29 Years Old is {ltwent_purch}")
print(f"The Total Number of Purchases by Players 30 to 34 Years Old is {ethirt_purch}")
print(f"The Total Number of Purchases by Players 35 to 39 Years Old is {lthirt_purch}")
print(f"The Total Number of Purchases by Players 40 to 44 Years Old is {efort_purch}")
print(f"The Total Number of Purchases by Players 45 to 49 Years Old is {lfort_purch}")

The Total Number of Purchases by Players Under 10 Years Old is 23
The Total Number of Purchases by Players 10 to 14 Years Old is 28
The Total Number of Purchases by Players 15 to 19 Years Old is 136
The Total Number of Purchases by Players 20 to 24 Years Old is 365
The Total Number of Purchases by Players 25 to 29 Years Old is 101
The Total Number of Purchases by Players 30 to 34 Years Old is 73
The Total Number of Purchases by Players 35 to 39 Years Old is 41
The Total Number of Purchases by Players 40 to 44 Years Old is 12
The Total Number of Purchases by Players 45 to 49 Years Old is 1

In [18]:
# Create a table from the dataframe that is grouped and indexed by the created age group column and contains the average price paid for purchases for that category
age_avepurch=purchdf_copy.groupby(["Age Group"])["Price"].mean()

# Block to store the values from the table for average price paid for purchases by age category into variables for each category
bten_avpr=round(age_avepurch[0],2)
eteen_avpr=round(age_avepurch[1],2)
lteen_avpr=round(age_avepurch[2],2)
etwent_avpr=round(age_avepurch[3],2)
ltwent_avpr=round(age_avepurch[4],2)
ethirt_avpr=round(age_avepurch[5],2)
lthirt_avpr=round(age_avepurch[6],2)
efort_avpr=round(age_avepurch[7],2)
lfort_avpr=round(age_avepurch[8],2)

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Average Purchase Price for Players Under 10 Years Old is ${bten_avpr}")
print(f"The Average Purchase Price for Players 10 to 14 Years Old is ${eteen_avpr}")
print(f"The Average Purchase Price for Players 15 to 19 Years Old is ${lteen_avpr}")
print(f"The Average Purchase Price for Players 20 to 24 Years Old is ${etwent_avpr}")
print(f"The Average Purchase Price for Players 25 to 29 Years Old is ${ltwent_avpr}")
print(f"The Average Purchase Price for Players 30 to 34 Years Old is ${ethirt_avpr}")
print(f"The Average Purchase Price for Players 35 to 39 Years Old is ${lthirt_avpr}")
print(f"The Average Purchase Price for Players 40 to 44 Years Old is ${efort_avpr}")
print(f"The Average Purchase Price for Players 45 to 49 Years Old is ${lfort_avpr}")

The Average Purchase Price for Players Under 10 Years Old is $3.35
The Average Purchase Price for Players 10 to 14 Years Old is $2.96
The Average Purchase Price for Players 15 to 19 Years Old is $3.04
The Average Purchase Price for Players 20 to 24 Years Old is $3.05
The Average Purchase Price for Players 25 to 29 Years Old is $2.9
The Average Purchase Price for Players 30 to 34 Years Old is $2.93
The Average Purchase Price for Players 35 to 39 Years Old is $3.6
The Average Purchase Price for Players 40 to 44 Years Old is $3.04
The Average Purchase Price for Players 45 to 49 Years Old is $1.7

In [19]:
# Create a table from the dataframe that is grouped and indexed by the created age group column and contains the total amount paid for purchases for that category
age_totpurch=purchdf_copy.groupby(["Age Group"])["Price"].sum()

# Block to store the values from the table for total amount paid for purchases by age category into variables for each category
bten_tpr=round(age_totpurch[0],2)
eteen_tpr=round(age_totpurch[1],2)
lteen_tpr=round(age_totpurch[2],2)
etwent_tpr=round(age_totpurch[3],2)
ltwent_tpr=round(age_totpurch[4],2)
ethirt_tpr=round(age_totpurch[5],2)
lthirt_tpr=round(age_totpurch[6],2)
efort_tpr=round(age_totpurch[7],2)
lfort_tpr=round(age_totpurch[8],2)

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"The Total Purchase Value for Players Under 10 Years Old is ${bten_tpr}")
print(f"The Total Purchase Value for Players 10 to 14 Years Old is ${eteen_tpr}")
print(f"The Total Purchase Value for Players 15 to 19 Years Old is ${lteen_tpr}")
print(f"The Total Purchase Value for Players 20 to 24 Years Old is ${etwent_tpr}")
print(f"The Total Purchase Value for Players 25 to 29 Years Old is ${ltwent_tpr}")
print(f"The Total Purchase Value for Players 30 to 34 Years Old is ${ethirt_tpr}")
print(f"The Total Purchase Value for Players 35 to 39 Years Old is ${lthirt_tpr}")
print(f"The Total Purchase Value for Players 40 to 44 Years Old is ${efort_tpr}")
print(f"The Total Purchase Value for Players 45 to 49 Years Old is ${lfort_tpr}")

The Total Purchase Value for Players Under 10 Years Old is $77.13
The Total Purchase Value for Players 10 to 14 Years Old is $82.78
The Total Purchase Value for Players 15 to 19 Years Old is $412.89
The Total Purchase Value for Players 20 to 24 Years Old is $1114.06
The Total Purchase Value for Players 25 to 29 Years Old is $293.0
The Total Purchase Value for Players 30 to 34 Years Old is $214.0
The Total Purchase Value for Players 35 to 39 Years Old is $147.67
The Total Purchase Value for Players 40 to 44 Years Old is $36.54
The Total Purchase Value for Players 45 to 49 Years Old is $1.7

In [20]:
# The following 9 blocks of are used to calculate the Total Number of Players in Each Age Group
#   Filter the data based on age
#   Create a table that is indexed and grouped by the number of unique players in that age group
#   Create a variable which holds the count of players in that age group

btn_frame=purchdf_copy.loc[purchdf_copy["Age"]<10,:]
belten_frame=btn_frame.groupby(["SN"]).nunique()
btn_count=belten_frame["SN"].count()

etn_frame=purchdf_copy.loc[(purchdf_copy["Age"]>9) & (purchdf_copy["Age"]<15),:]
eteen_frame=etn_frame.groupby(["SN"]).nunique()
etn_count=eteen_frame["SN"].count()

ltn_frame=purchdf_copy.loc[(purchdf_copy["Age"]>14) & (purchdf_copy["Age"]<20),:]
lteen_frame=ltn_frame.groupby(["SN"]).nunique()
ltn_count=lteen_frame["SN"].count()

etw_frame=purchdf_copy.loc[(purchdf_copy["Age"]>19) & (purchdf_copy["Age"]<25),:]
etwen_frame=etw_frame.groupby(["SN"]).nunique()
etw_count=etwen_frame["SN"].count()

ltw_frame=purchdf_copy.loc[(purchdf_copy["Age"]>24) & (purchdf_copy["Age"]<30),:]
ltwen_frame=ltw_frame.groupby(["SN"]).nunique()
ltw_count=ltwen_frame["SN"].count()

eth_frame=purchdf_copy.loc[(purchdf_copy["Age"]>29) & (purchdf_copy["Age"]<35),:]
ethr_frame=eth_frame.groupby(["SN"]).nunique()
eth_count=ethr_frame["SN"].count()

lth_frame=purchdf_copy.loc[(purchdf_copy["Age"]>34) & (purchdf_copy["Age"]<40),:]
lthr_frame=lth_frame.groupby(["SN"]).nunique()
lth_count=lthr_frame["SN"].count()

efr_frame=purchdf_copy.loc[(purchdf_copy["Age"]>39) & (purchdf_copy["Age"]<45),:]
efor_frame=efr_frame.groupby(["SN"]).nunique()
efr_count=efor_frame["SN"].count()

lfr_frame=purchdf_copy.loc[(purchdf_copy["Age"]>44) & (purchdf_copy["Age"]<50),:]
lfor_frame=lfr_frame.groupby(["SN"]).nunique()
lfr_count=lfor_frame["SN"].count()


#Block to calculate the average purchase per person for each age group and store those values into variables for each group
btn_avepurch_per=round(bten_tpr/btn_count,2)
etn_avepurch_per=round(eteen_tpr/etn_count,2)
ltn_avepurch_per=round(lteen_tpr/ltn_count,2)
etw_avepurch_per=round(etwent_tpr/etw_count,2)
ltw_avepurch_per=round(ltwent_tpr/ltw_count,2)
eth_avepurch_per=round(ethirt_tpr/eth_count,2)
lth_avepurch_per=round(lthirt_tpr/lth_count,2)
efr_avepurch_per=round(efort_tpr/efr_count,2)
lfr_avepurch_per=round(lfort_tpr/lfr_count,2)

# Block to output the required result to the terminal /console (Instructions do not call for table output)
print(f"Average Purchase Total Per Player under 10 years old is ${btn_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 10 and 14 is ${etn_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 15 and 19 is ${ltn_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 20 and 24 is ${etw_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 25 and 29 is ${ltw_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 30 and 34 is ${eth_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 35 and 39 is ${lth_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 40 and 44 is ${efr_avepurch_per}")
print(f"Average Purchase Total Per Player between ages of 45 and 49 is ${lfr_avepurch_per}")

Average Purchase Total Per Player under 10 years old is $4.54
Average Purchase Total Per Player between ages of 10 and 14 is $3.76
Average Purchase Total Per Player between ages of 15 and 19 is $3.86
Average Purchase Total Per Player between ages of 20 and 24 is $4.32
Average Purchase Total Per Player between ages of 25 and 29 is $3.81
Average Purchase Total Per Player between ages of 30 and 34 is $4.12
Average Purchase Total Per Player between ages of 35 and 39 is $4.76
Average Purchase Total Per Player between ages of 40 and 44 is $3.32
Average Purchase Total Per Player between ages of 45 and 49 is $1.7

## TOP SPENDERS

In [21]:
# Create a copy of the current dataframe to use for following analyses
purchdfc=purchdf.copy()

# Create a variable that contains a table that is grouped and indexed by the player user name
spnddfgrp=purchdfc.groupby(purchdfc["SN"])

# Block that creates columns in the table for caluculated values for each player
#   Number of Purchases
#   Average Purchase Price
#   Total Amount of Each Player's Purchases
purch_count=spnddfgrp["Purchase ID"].count()
ave_purch_price=round(spnddfgrp["Price"].mean(),2)
tot_purch_val=spnddfgrp["Price"].sum() 

# Create a new dictionary to hold the columns for a new dataframe that will hold the calculated values for each player
topspnddict={"Purchase Count":purch_count, "Average Purchase Price":ave_purch_price, "Total Purchase Value":tot_purch_val}

# Create a new dataframe from the dictionary to provide the required table output of the player data
top_spender_df=pd.DataFrame(topspnddict)

# Created a version of new dataframe that is sorted on the highest Total Purchase Value by player 
top_spender_df_sort=top_spender_df.sort_values("Total Purchase Value",ascending=False)

# Output the head of the sorted dataframe as a table (as required) to display the player data
top_spender_df_sort.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## MOST POPULAR ITEMS

In [23]:
# Create a variable that contains a table that is grouped and indexed by game items purchased
popitmdf=purchdfc.groupby(purchdfc["Item ID"])

# Block that creates columns in the table for caluculated values for each item
#   Name of all Items Purchased
#   Number of Total Purchases for Each Item
#   Prices Paid for Each Item
#   Total Amount of Sales Revenue for Each Item
itmnam=popitmdf["Item Name"].unique()
itmpurcnt=popitmdf["Purchase ID"].count()
itmprc=popitmdf["Price"].unique()
totpurval=popitmdf["Price"].sum()

# Create a new dictionary to hold the columns for a new dataframe that will hold the calculated values for each items
mostpopdict={"Item Name":itmnam, "Purchase Count":itmpurcnt, "Item Price":itmprc, "Total Purchase Value":totpurval}

# Create a new dataframe from the dictionary to provide the required table output of the item data
most_popular_df=pd.DataFrame(mostpopdict)

# Created a version of new dataframe that is sorted on the Largest Number of Purchases for each Item
most_popular_df_sort=most_popular_df.sort_values("Purchase Count", ascending=False)

# Output the head of the sorted dataframe as a table (as required) to display the item data
most_popular_df_sort.head()

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,[Final Critic],13,"[4.88, 4.19]",59.99
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,[4.23],50.76
145,[Fiery Glass Crusader],9,[4.58],41.22
132,[Persuasion],9,"[3.19, 3.33]",28.99
108,"[Extraction, Quickblade Of Trembling Hands]",9,[3.53],31.77

## MOST PROFITABLE ITEMS

In [26]:
# Create a variable that contains a table that is grouped and indexed by game items purchased
prfitmdf=purchdfc.groupby(purchdfc["Item ID"])

# Block that creates columns in the table for caluculated values for each item
#   Name of all Items Purchased
#   Number of Total Purchases for Each Item
#   Total Amount of Sales Revenue for Each Item
itmnme=prfitmdf["Item Name"].unique()
itmpurcon=prfitmdf["Purchase ID"].count()
toprval=prfitmdf["Price"].sum()

# Create a new dictionary to hold the columns for a new dataframe that will hold the calculated values for each items
mostprofdict={"Item Name":itmnme, "Purchase Count":itmpurcon, "Total Purchase Value":toprval}

# Create a new dataframe from the dictionary to provide the required table output of the item data
most_prof_df=pd.DataFrame(mostprofdict)

# Created a version of new dataframe that is sorted on the Total Amount of Sales Revenue (Total Purchase Value) for each Item
most_prof_df_sort=most_prof_df.sort_values("Total Purchase Value", ascending=False)

# Output the head of the sorted dataframe as a table (as required) to display the item data
most_prof_df_sort.head()

,Item Name,Purchase Count,Total Purchase Value
Item ID,,,
92,[Final Critic],13,59.99
178,"[Oathbreaker, Last Hope of the Breaking Storm]",12,50.76
82,[Nirvana],9,44.10
145,[Fiery Glass Crusader],9,41.22
103,[Singed Scalpel],8,34.80